<div class="container">
    <h1 class="my-4">Usuarios</h1>

    <button class="btn btn-primary mb-3" onclick="AddUser()">Agregar Usuario</button>

    <div class="table-responsive">
        <table id="usuarios" class="table table-striped table-bordered text-center" style="width:100%"></table>
    </div>

    <div id="UsersAddPartial"></div>
</div>

<script src="~/js/Users/Users.js"></script>